body { margin: 30px auto; width: 80%;}

.container.content { margin-bottom: 20px; font-family: 'Open Sans', sans-serif;}
.dropdown { display: inline; }

a { text-decoration: none; color: #999; }
a:hover { text-decoration: underline; }

p { font-size: 1.75em; line-height: 1.4em;color: #333;}
li p { font-size: 1em; }
ul li { font-size: 1.5em; }
ol li { font-size: 1.5em; }
ul li ul li { font-size: 1em; }

h1, h2, h3, h4, p { font-family: 'Open Sans', sans-serif; }

nav ul, footer ul { font-size: .75em; font-family: 'Open Sans', sans-serif; padding: 0px; list-style: none; }
nav .navbar-brand { font-size: 2em; }
nav ul li, footer ul li { display: inline; margin-right: 20px; }


footer { border-top: 1px solid #d5d5d5; font-size: .8em; }
