body { margin: 30px auto; width: 70%;}

.container.content { margin-bottom: 20px; font-family: 'Open Sans', sans-serif;}

a { text-decoration: none; color: #999; }
a:hover { text-decoration: underline; }

p, ul { font-size: 1.5em; line-height: 1.4em; color: #333; }

h1, h2, h3, h4, p, div { font-family: 'Open Sans', sans-serif; }

nav ul, footer ul { font-size: 1em; font-family: 'Open Sans', sans-serif; padding: 0px; list-style: none; }
nav ul li, footer ul li { display: inline; margin-right: 20px; }

footer { border-top: 1px solid #d5d5d5; font-size: .8em; }
